@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  margin: 0;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

body {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-items: start;
  padding: 50px 50px 0;
  grid-gap: 50px;
}

header {
  grid-column: 1 / 3;
  justify-self: center;
  font-size: 50px;
  padding: 0 0 10px;
}

footer.error {
  grid-column: 1 / 3;
  place-self: center;
}

div.meterbar {
  position: relative;
  width: 100%;
}

div.meterbar>div.percentage {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 100;
}

div.meterbar>progress {
  display: block;
  width: 100%;
  height: 40px;
  border: 0 none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(233, 236, 239);
  border-radius: 5px;
}

div.meterbar>progress::-webkit-progress-bar {
  background-color: rgb(233, 236, 239);
  border-radius: 5px;
}

/* default color blue */

div.meterbar>progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
}

div.meterbar>progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
}

/* 0% - 9% red */

div.meterbar>progress[value*=".0"]::-webkit-progress-value {
  background-color: rgb(220, 53, 69);
}

div.meterbar>progress[value*=".0"]::-moz-progress-bar {
  background-color: rgb(220, 53, 69);
}

/* 10% - 19% yellow */

div.meterbar>progress[value*=".1"]::-webkit-progress-value {
  background-color: rgb(255, 193, 7);
}

div.meterbar>progress[value*=".1"]::-moz-progress-bar {
  background-color: rgb(255, 193, 7);
}

/* 100% and above green */

div.meterbar>progress[value^="1"]::-webkit-progress-value {
  background-color: rgb(40, 167, 69);
}

div.meterbar>progress[value^="1"]::-moz-progress-bar {
  background-color: rgb(40, 167, 69);
}

/* make last meterbar big */

div.meterbar:last-of-type {
  grid-column: 1 / 3;
}

div.meterbar:last-of-type>progress {
  height: 45px;
}
