@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  margin: 0;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

body {
  /* lower padding to account for drop shadow */
  /* see the grid section for details on the 9.2vw and 7vw*/
  padding: 50px 9.2vw 7vw;
}

header {
  font-size: 9.2vw;
  padding: 0 0 10px;
}

header {
  width: 100%;
  text-align: center;
}

div.error {
  font-size: 22px;
  color: #721c24;
  background: #f8d7da;
  border-style: solid;
  border-width: 1px;
  border-color: #f5c6cb;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 25px 0 0;
}

label {
  display: block;
  margin: 25px 0 5px;
}


/**********************/
/* progress bar stuff */
/**********************/

div.meterbar {
  position: relative;
  width: 100%;
}

div.meterbar>div.percentage {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 100;
}

div.meterbar>progress {
  display: block;
  width: 100%;
  height: 40px;
  /* reset stupid defaults */
  border: 0 none;
  -webkit-appearance: none;
  appearance: none;
  /* firefox background */
  background-color: rgb(233, 236, 239);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.meterbar>progress::-webkit-progress-bar {
  /* chrome etc. background */
  background-color: rgb(233, 236, 239);
  border-radius: 5px;
}

/* bar default color blue */

div.meterbar>progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
}

div.meterbar>progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
}

/* bar 0% - 9% red */

div.meterbar>progress[value*=".0"]::-webkit-progress-value {
  background-color: rgb(220, 53, 69);
}

div.meterbar>progress[value*=".0"]::-moz-progress-bar {
  background-color: rgb(220, 53, 69);
}

/* bar 10% - 19% yellow */

div.meterbar>progress[value*=".1"]::-webkit-progress-value {
  background-color: rgb(255, 193, 7);
}

div.meterbar>progress[value*=".1"]::-moz-progress-bar {
  background-color: rgb(255, 193, 7);
}

/* bar 100% and above green */

div.meterbar>progress[value^="1"]::-webkit-progress-value {
  background-color: rgb(40, 167, 69);
}

div.meterbar>progress[value^="1"]::-moz-progress-bar {
  background-color: rgb(40, 167, 69);
}

/* make last meterbar big */

div.meterbar:last-of-type>progress {
  height: 60px;
}


/*******************************/
/* CSS Grid for bigger screens */
/*******************************/

@media (min-width: 540px) {
  body {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 50px;
    /* The values of 9.2 and 7 view width for the body padding as well as the
    header font size was chosen above to be as close as possible to the values
    of 50px and 38px respectively at the breakpoint of 540px */
    padding: 50px 50px 38px;
  }

  header {
    font-size: 50px;
  }

  /* The label margins can be reset because we have the grid gutter now */
  label, div.error {
    margin: 0;
  }

  /* All elements that should span the whole width of the grid */
  header, div.error, div.meterbar:last-of-type {
    grid-column: 1 / -1;
  }

  /* Make the thickness of the last meter bar less pronounced because 60px looks
     ridiculous in the grid layout, where it is already highlighted by being
     full-width anyways */
  div.meterbar:last-of-type>progress {
    height: 45px;
  }
}
